<div class="page-border">
  <div class="container" style="width: 100%">
    <%= link_to "<< Back to Menu", categories_path %>
    <span id="my-cart-title"><h2>My Cart</h2></span>
    <table class="table table-striped">
      <tr>
        <th>Title</th>
        <th>Amount Contributed</th>
        <th>Loan Amount</th>
        <th>Remove?</th>
      </tr>
      <% if @loans.any? %>
        <% @loans.each do |loan| %>
          <tr>
            <td><%= loan.title %></td>
            <td><%= loan.unit_price_dollars %></td>
            <td>
              <%= form_for(:cart, url: cart_path, method: :delete) do |f| %>
                <%= f.hidden_field :loan_id, value: loan.id %>
                <%= f.submit "Remove", class: "btn btn-danger" %>
              <% end %>
            </td>
          </tr>
        <% end %>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td><span id="cart-total"><%= calculate_total %> TOTAL</span></td>
          <td></td>
        </tr>
      <% else %>
        <tr>
          <td colspan="5" style="text-align:center;">Your cart is empty.</td>
        </tr>
      <% end %>
    </table>
    <% if @loans.any? %>
      <div id="checkout-button"><%= link_to "Checkout", new_order_path, class: 'btn btn-success center' %></div>
    <% end %>
  </div>
</div>
