<div class="col-md-12">
  <ul class="nav nav-tabs" role="tablist">
    <% @categories.each_with_index do |category, i| %>
      <% if i == 0 %>
        <li class= "active"><a class= "tab-control" href="#tab-1"><%= category.name%></a></li>
      <% else %>
        <li><a class= "tab-control" href="#tab-<%=i + 1 %>"><%= category.name%></a></li>
      <% end %>
    <% end %>
  </ul>
    <% @categories.each_with_index do |category, i| %>
      <% if i == 0 %>
        <div class="tab-panel active" id="tab-1">
          <div class="loans transitions-enabled">
            <% category.loans.each do |loan| %>
              <div class="loan-box">
                <div class="loan-box-description">
                  <%= image_tag loan.image.url(:small), class: "loan-image" %><br/>
                  <div>
                    <span class="loan-title">
                        <%= link_to loan do %>
                        <strong><%= loan.title %></strong>
                      <% end %>
                    </span>
                    <span class="loan-description">
                      <%= loan.description %>
                    </span>
                  </div>



                  <div class="loan-box-price">
                    <div class="progress">
                      <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">60%</div>
                    </div>

<<<<<<< HEAD
                    <span class="loan-price"><%= loan.amount %></span>
                    <span class="add-loan">
                      <%= form_for(:cart, url: cart_path, method: :put) do |f| %>
                        <%= f.hidden_field :loan_id, value: loan.id %>
                        <%= f.hidden_field :quantity, value: 1 %>
                        <%= button_tag type: 'submit', class: 'btn btn-primary btn-add-loan' do %>
                          <span class='glyphicon glyphicon glyphicon-globe'></span> Loan Now
                        <% end %>
                      <% end %>
                    </span>
                  </div>
                </div>
=======
                <span class="loan-price"><%= loan.unit_price_dollars %></span>
                <span class="add-loan">
                  <%= form_for(:cart, url: cart_path, method: :put) do |f| %>
                    <%= f.hidden_field :loan_id, value: loan.id %>
                    <%= f.hidden_field :quantity, value: 1 %>
                    <%= button_tag type: 'submit', class: 'btn btn-primary btn-add-loan' do %>
                      <span class='glyphicon glyphicon glyphicon-globe'></span> Loan Now
                    <% end %>
                  <% end %>
                </span>
>>>>>>> user-edit
              </div>
            <% end %>
          </div>
        <% else %>
          <div class="tab-panel" id="tab-<%= i+1 %>">
            <div class="loans transitions-enabled">
              <% category.loans.each do |loan| %>
                <div class="loan-box">
                  <div class="loan-box-description">
                    <%= image_tag loan.image.url(:small), class: "loan-image" %><br/>
                    <div>
                      <span class="loan-title">
                          <%= link_to loan do %>
                          <strong><%= loan.title %></strong>
                        <% end %>
                      </span>
                      <span class="loan-description">
                        <%= loan.description %>
                      </span>
                    </div>



                    <div class="loan-box-price">
                      <div class="progress">
                        <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">60%</div>
                      </div>

                      <span class="loan-price"><%= loan.amount%></span>
                      <span class="add-loan">
                        <%= form_for(:cart, url: cart_path, method: :put) do |f| %>
                          <%= f.hidden_field :loan_id, value: loan.id %>
                          <%= f.hidden_field :quantity, value: 1 %>
                          <%= button_tag type: 'submit', class: 'btn btn-primary btn-add-loan' do %>
                            <span class='glyphicon glyphicon glyphicon-globe'></span> Loan Now
                          <% end %>
                        <% end %>
                      </span>
                    </div>
                  </div>
                </div>
              <% end %>
            </div>
        <% end %>
      </div>
    <% end %>
    <script>
      $('.nav-tabs').each(function(){
        var $this  = $(this);
        var $tab   = $this.find('li.active');
        var $link  = $tab.find("a");
        var $panel = $($link.attr("href"));


        $this.on("click", ".tab-control", function(e) {
          e.preventDefault();
          var $link = $(this);
          var id    = this.hash;

          if (id && !$link.is(".active")){
            $panel.removeClass('active');
            $tab.removeClass('active');

            $panel = $(id).addClass('active');
            $tab   = $link.parent().addClass('active');
          }
        });
      });
    </script>
</div>
