<div class="main-menu">
  <div class="col-md-8">
    <div id="main-menu-title"><h1>- Giving a <em>little</em> can mean <strong>A Lot</strong> -</h1></div>
    <% @categories.each do |category| %>
      <span class="category-name">- <%= category.name %> -</span>
      <div class="donuts transitions-enabled">
        <% category.items.each do |loan| %>
          <% unless loan.retired? %>

            <div class="loan-box ">

              <div class="loan-box-description">

                <%= image_tag loan.image.url(:small), class: "loan-image" %><br/>
                <span class="loan-title">
                  <%= link_to loan do %>
                    <strong><%= loan.title %></strong>
                  <% end %>
                </span>
                <span class="loan-description"><%= loan.description %></span>

                <div class="loan-box-price">

                  <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">60%</div>
                  </div>

                  <span class="loan-price"><%= loan.unit_price_dollars %></span>
                  <span class="add-loan">
                    <%= form_for(:cart, url: cart_path, method: :put) do |f| %>
                      <%= f.hidden_field :item_id, value: loan.id %>
                      <%= f.hidden_field :quantity, value: 1 %>
                      <%= button_tag type: 'submit', class: 'btn btn-primary btn-add-loan' do %>
                        <span class='glyphicon glyphicon glyphicon-globe'></span> Loan Now
                      <% end %>
                    <% end %>
                  </span>
                </div>
              </div>

            </div>

          <% end %>
        <% end %>
      </div>
    <% end %>
  </div>

  <div class="col-md-4">
    <div id="sticker">
      <img src="/assets/kevah.png" style="padding-top: 45px" height="100%" width="100%"/>
      <h3 style="text-align: center">Keevahh</h3>
      <h4 style="text-align: center">Micro loans with Macro outcomes</h4>
    </div>
  </div>
</div>
